* {
  font-family: inherit Arial sans-serif;
}

#dog-exchange-card {
  margin: 0% 20%;
  text-align: center;
  border: solid #eaeaea;
  box-shadow: 10px 10px #eaeaea;
}

.menu {
  text-align: left;
  margin: 2%;
}

figure{
  margin: 2%;
}
.picture {
  width: 100%;
  margin: auto;
}

.content-box {
  text-align: left;
  border: solid #eaeaea;
  line-height: 1.5em;
  margin: 0 2% 2%;
  padding: 0 2%;
}
.no-style-list{
  list-style-type: none;
}

.animal-brief-introduction {
  text-align: left;
  font-style: italic;
  border-bottom: 2%;
}
.bold-text{
  font-weight: bold;
}
